@model ProcessoSeletivo.Models.Module

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes sobre</h1>
<hr />
<div>
    <div class="card border-primary mb-3" style="max-width: 100%;">
        <div class="card-header">@Html.DisplayFor(model => model.Title)</div>
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayNameFor(model => model.Description)</h4>
            <p class="card-text">@Html.DisplayFor(model => model.Description)</p>
        </div>
        <div class="card-body">
            <p class="card-text"><b>Curso:</b> @Html.DisplayFor(model => model.Course.Title)</p>
            <p class="card-text"><b>@Html.DisplayNameFor(model => model.DisplayOrder):</b> @Html.DisplayFor(model => model.DisplayOrder)</p>
        </div>
    </div>
</div>
<div>
    <input type="button" class="btn btn-primary btn-sm" value="Editar" onclick="location.href='@Url.Action("Edit", "Module", new {id = @Model?.Id} )'" />
    <input type="button" class="btn btn-secondary btn-sm mx-2" value="Voltar" onclick="location.href='@Url.Action("Index", "Module" )'" />
</div>
