@model IEnumerable<ProcessoSeletivo.Models.Module>

@{
    ViewData["Title"] = "Index";
}

<h1>Módulos disponíveis</h1>
<hr />
<input type="button" class="btn btn-primary" value="Criar módulo" onclick="location.href='@Url.Action("Create", "Module" )'" />
<input type="button" class="btn btn-primary mx-2" value="Criar aula para módulo existente" onclick="location.href='@Url.Action("Create", "Lesson" )'" />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <input type="button" class="btn btn-primary btn-sm" value="Editar" onclick="location.href='@Url.Action("Edit", "Module", new {id = @item.Id} )'" />
                    <input type="button" class="btn btn-info btn-sm" value="Detalhes" onclick="location.href='@Url.Action("Details", "Module", new {id = @item.Id} )'" />
                    <input type="button" class="btn btn-danger btn-sm" value="Excluir" onclick="location.href='@Url.Action("Delete", "Module", new {id = @item.Id} )'" />
                </td>
            </tr>
        }
    </tbody>
</table>
