@model IEnumerable<ProcessoSeletivo.Models.Lesson>

@{
    ViewData["Title"] = "Index";
}

<h1>Aulas disponíveis</h1>
<hr />
<input type="button" class="btn btn-primary" value="Criar aula" onclick="location.href='@Url.Action("Create", "Lesson" )'" />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Module)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Module.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <input type="button" class="btn btn-primary btn-sm" value="Editar" onclick="location.href='@Url.Action("Edit", "Lesson", new {id = @item.Id} )'" />
                    <input type="button" class="btn btn-info btn-sm" value="Detalhes" onclick="location.href='@Url.Action("Details", "Lesson", new {id = @item.Id} )'" />
                    <input type="button" class="btn btn-danger btn-sm" value="Excluir" onclick="location.href='@Url.Action("Delete", "Lesson", new {id = @item.Id} )'" />
                </td>
            </tr>
        }
    </tbody>
</table>
