@model ProcessoSeletivo.Models.Course

@{
    ViewData["Title"] = "Delete";
}

<h1>Tem certeza que deseja excluir o CURSO abaixo?</h1>
<div>
    <hr />
    <div>
        <div class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-header">@Html.DisplayFor(model => model.Title)</div>
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayNameFor(model => model.Summary)</h4>
                <p class="card-text">@Html.DisplayFor(model => model.Summary)</p>
            </div>
            <div class="card-body">
                <p class="card-text"><b>@Html.DisplayNameFor(model => model.DurationInMinutes):</b> @Html.DisplayFor(model => model.DurationInMinutes)</p>
                <p class="card-text"><b>@Html.DisplayNameFor(model => model.Tag):</b> @Html.DisplayFor(model => model.Tag)</p>
            </div>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <input type="button" class="btn btn-secondary mx-2" value="Voltar" onclick="location.href='@Url.Action("Index", "Course" )'" />
    </form>
</div>
